* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
html {
  font-size: 62.5%;
  background-color: #b5838d;
}
.container-fluid {
  margin: 0px;
  padding: 0px;
}

/* HEADER */
header {
  text-decoration: none;
  width: 100%;
}

.navbar {
  font-size: 3rem;
  background-image: url(../images/fondoheader.jpg);
  height: 20rem;
}
.logo {
  align-items: left;
  max-width: 400px;
  max-height: 400px;
  margin: 0px;
  padding-bottom: 0px;
}

.navbar a {
  text-decoration: none;
  color: blueviolet;
}
.navbar ul li {
  margin: 10px;
  font-weight: bold;
}

/*  MAIN  */
main {
  background-color: #b5838d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 12rem;
  color: white;
  background-color: #6d6875;
}

#buscador {
  border: rgb(40, 55, 122) groove 3px;
  border-radius: 7px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50rem;
  height: 25px;
}

p {
  font-style: italic;
}

.tituloQuienesSomos {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 15px;
}
.quienesSomos {
  font-size: 1.5rem;
  border: black solid 1px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ffcdb2;
  width: 700px;
  height: 300px;
  color: #5e548e;
  text-align: center;
  padding: 10px;
  overflow: auto;
  margin-bottom: 35px;
}

.tituloUbicacion {
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
iframe {
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
/* FOOTER */
footer {
  background-color: #6d6875;
  width: 100%;
}
footer .container {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.loguito {
  display: grid;
  justify-items: start;
}
.logo-footer {
  display: grid;
  max-width: 400px;
  max-height: 200px;
  justify-items: start;
  align-items: center;
}

.derechos {
  display: grid;
  justify-items: center;
  align-items: end;
}

.telefono {
  display: grid;
  justify-items: center;
  align-items: center;
}

.telefono a {
  text-decoration: none;
  color: white;
  text-align: right;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* PAGINA RECETAS */
.tituloRecetas {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 12rem;
  color: white;
  background-color: #6d6875;
}
.recetas {
  display: flex;
  justify-content: start;
  margin: 60px;
  margin-left: 60px;
}
.fotoRecetas {
  max-width: 200px;
  margin: 0px 30px 30px;
}

.descripcionReceta {
  margin-top: 10px;
  text-align: left;
  background-color: #ffcdb2;
  max-width: 400px;
  border-radius: 5px;
}
/* PAGINA SESION */
.formularioInicioSesion {
  width: 600px;
  height: 400px;
  background-color: #5e548e;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 45px;
  border: 5px solid #9f86c0;
  border-radius: 5px;
}

.tituloInicioSesion {
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}
.labelsInicioSesion {
  text-align: center;
  margin: auto;
  padding: 5px;
}
.rellenoFormulario {
  font-size: 1.5rem;
  width: 100%;
  border: 1.5px solid #9f86c0;
  padding: 5px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.botonFormulario {
  width: 102%;
  background-color: #ffc300;
  font-size: 1.5rem;
  border: 1.5px solid #9f86c0;
  padding: 5px;
  margin-top: 20px;
  border-radius: 3px;
}

.formularioRegistro {
  width: 600px;
  height: 400px;
  background-color: #5e548e;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 45px;
  border: 5px solid #9f86c0;
  border-radius: 5px;
}
.tituloRegistro {
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}

.tituloComentarios {
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}
.comentariosUsuario {
  width: 98%;
  border: 1.5px solid #9f86c0;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}
.botonEnviar {
  width: 35%;
  background-color: #ffc300;
  font-size: 1.5rem;
  border: 1.5px solid #9f86c0;
  padding: 5px;
  margin-top: 20px;
  border-radius: 3px;
}

.botonBorrar {
  width: 35%;
  background-color: #ffc300;
  font-size: 1.5rem;
  border: 1.5px solid #9f86c0;
  padding: 5px;
  margin-top: 20px;
  border-radius: 3px;
  margin-right: 10px;
}

/* RESOLUCION PARA TABLET */
@media (max-width: 768px) {
  /* HEADER PARA TABLET */
  .navbar {
    padding: 20px 0;
  }
  .navbar-brand {
    margin-right: 0px;
  }
  .logo {
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -50px;
  }
  .navbar-toggler {
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }
  .navbar-toggler-icon {
    margin: 0;
  }

  .nav-link {
    justify-content: start;
  }
  .navbar-collapse {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 200px;
    z-index: 1;
    background-color: #ffcdb2;
    opacity: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar-collapse.show {
    transform: translateX(0%);
  }

  /* MAIN PARA TABLET*/
  .titulo {
    font-size: 32px;
  }

  .buscador {
    margin-bottom: 15px;
  }

  .tituloQuienesSomos {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .quienesSomos {
    font-size: 14px;
    line-height: 1.5;
  }
  .videoNosotros {
    margin-top: 15px;
  }
  .tituloUbicacion {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .dondeEncontrarnos {
    margin-bottom: 15px;
  }
  /* FOOTER PARA TABLET */
  .footer {
    padding: 20px 0;
  }
}

/* RESOLUCION PARA MOBILE */
@media (max-width: 500px) {
  /* HEADER MOBILE */
  header .navbar {
    width: 100%;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .logo {
    width: 250px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: -35px;
  }
  .navbar-toggler {
    margin: 10px;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -80%;
    width: 70%;
    height: 80%;
    padding: 0px 1px 1px 0px;
    background-color: #f8f9fa;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  .navbar-collapse.show {
    transform: translateX(-100%);
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }
  /* MAIN PARA MOBILE */
  .titulo,
  .buscador {
    text-align: center;
    padding: 5px;
  }

  #buscador {
    width: 25rem;
  }

  .tituloQuienesSomos {
    text-align: center;
  }

  .quienesSomos {
    display: flex;
    font-size: 1.5rem;
    border: black solid 1px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #ffcdb2;
    width: 80%;
    text-align: center;
    padding: 10px;
    overflow: auto;
    margin: auto;
    margin-bottom: 35px;
  }

  .videoNosotros {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .videoNosotros iframe {
    width: 80%;
    height: auto;
    margin: auto;
  }

  .tituloUbicacion {
    text-align: center;
  }

  .dondeEncontrarnos iframe {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
  }

  /* FOOTER PARA MOBILE */

  .loguito {
    align-items: center;
  }

  .logo-footer {
    width: 70px;
    height: 60px;
  }
  .telefono a {
    text-align: center;
    font-size: 10px;
  }

  /* PAGINA RECETAS MOBILE */
.tituloRecetas{
  font-size: 32px;
}
.mainRecetas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.recetas .fotorecetas {
  margin-bottom: 10px;
}
}
