* {
  /*   border: solid 1px;
  border-color: navy; */
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
html {
  font-size: 62.5%;
  background-color: #b5838d;
  background-color: #b5838d;
}


header a {
  text-decoration: none;
  color: blueviolet;
}

header {
  text-decoration: none;
  background-image: url(../images/fondoheader.jpg);
  width: 100%;
  height: 30rem;
  background-repeat: repeat;
 background-position: center;
 
}
.common-header {
    background-color: #b5838d;
  width: 100%;
  display: inline-block;
}

.header-left {
  display: inline;
}

.logo {
  align-items: left;
  max-width: 400px;
  max-height: 400px;
  margin: 0px;
  padding-bottom: 0px;
  display: inline;
}

.header-center-top {
  text-align: center;
  display: inline;
}

.navbar {
  font-size: 3rem;
}

.navbar ul li {
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
}

.titulo {
  text-align: center;
  font-weight: normal;
  font-size: 12rem;
  color: white;
  background-color: #6d6875;
}

.tituloRecetas{
  text-align: center;
  font-weight: normal;
  font-size: 12rem;
  color: white;
  background-color: #6d6875;
}
#buscador {
  border: black 50px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  margin: 25px 400px;
  width: 55rem;
}

p {
  font-style: italic;
}

.tituloQuienesSomos {
  text-align: center;
  font-size: 3rem;
}
.quienesSomos {
  font-size: 1.5rem;
  border: black 50px;
  border-radius: 5px;
  margin: 25px 325px;
  background-color: #ffcdb2;
  width: 700px;
  height: 300px;
  color: #5e548e;
  text-align: center;
  align-items: center;
  overflow: auto;
}

.videoNosotros {
  margin: 25px 400px;
}

.tituloUbicacion {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}
.dondeEncontrarnos {
  margin: auto;
  width:50%;
}

footer {
  background-color: #6d6875;
  width: 100%;
  height: 30rem;
}

.logo-footer {
  align-items: left;
  max-width: 300px;
  max-height: 200px;
  margin: 100px 0px 0px 50px;
  display: inline;
}

.texto-footer {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.datos-footer {
  text-align: right;
  padding: 0px 5px 15px;
}
.datos-footer a {
  text-decoration: none;
  color: white;
  text-align: right;
  font-size: 2rem;
  margin: 5px;
}
/* .tituloRecetas {
  text-align: center;
  font-size: 4rem;
  color: white;
  margin: 30px;
} */

.recetas {
  display: flex;
  justify-content: start;
  margin: 60px;
  margin-left: 60px;

}
.fotoRecetas {
  max-width: 200px;
  margin: 0px 30px 30px;
}

.descripcionReceta {
  margin-top: 10px;
  text-align: left;
  background-color: #ffcdb2;
  max-width: 400px;
  border-radius: 5px;
}

.formularioInicioSesion {
    width: 600px;
    height: 400px;
    background-color: #5e548e;
    margin:auto;
    margin-top:50px;
    margin-bottom: 30px;
    padding:45px;
    border: 5px solid #9f86c0;
    border-radius: 5px;
}

.tituloInicioSesion{
    font-size:3rem;
    text-align: center;
    padding:10px;
}
.labelsInicioSesion{
    text-align: center;
    margin: auto;
    padding:5px;
}
.rellenoFormulario{
    font-size: 1.5rem;
    width: 100%;
    border: 1.5px solid #9f86c0;
    padding: 5px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.botonFormulario{
    width: 102%;
    background-color: #ffc300;
    font-size: 1.5rem;
    border: 1.5px solid #9f86c0;
    padding: 5px;
    margin-top: 20px;
    border-radius: 3px;
}

.formularioRegistro{
    width: 600px;
    height: 400px;
    background-color: #5e548e;
    margin:auto;
    margin-top:50px;
    margin-bottom: 30px;
    padding:45px;
    border: 5px solid #9f86c0;
    border-radius: 5px;
}
.tituloRegistro{
    font-size:3rem;
    text-align: center;
    padding:10px;
}

.tituloComentarios{
  font-size:3rem;
  text-align: center;
  padding:10px;
}
.comentariosUsuario{
  width: 98%;
  border: 1.5px solid #9f86c0;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}
.botonEnviar{
  width: 35%;
  background-color: #ffc300;
  font-size: 1.5rem;
  border: 1.5px solid #9f86c0;
  padding: 5px;
  margin-top: 20px;
  border-radius: 3px;
}

.botonBorrar {
  width: 35%;
  background-color: #ffc300;
  font-size: 1.5rem;
  border: 1.5px solid #9f86c0;
  padding: 5px;
  margin-top: 20px;
  border-radius: 3px;
  margin-right: 10px;

}