/* PAGINA RECETAS */
.mainRecetas {
  .tituloRecetas {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 12rem;
    color: white;
    background-color: #6d6875;
  }
  .recetas {
    display: flex;
    justify-content: start;
    margin: 60px;
    margin-left: 60px;
    .fotoRecetas {
      max-width: 300px;
      max-height: 300px;
      margin: 0px 30px 30px;
      padding-top: 65px;
    }
    .tituloDeLaReceta {
      font-size: 4rem;
    }
    .descripcionReceta {
      font-size: 16px;
      border: black 1px solid;
      padding: 5px;
      text-align: left;
      background-color: #ffcdb2;
      max-width: 600px;
      border-radius: 5px;
    }
  }
}
